tema2/client/client/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Players" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Trophies" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModifyDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyDescriptionResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModifyPlayers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Players" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyPlayersResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModifyTrophies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Trophies" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyTrophiesResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModifyValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyValueResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetElements">
        <s:complexType />
      </s:element>
      <s:element name="GetElementsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetElementsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyDescription" />
  </wsdl:message>
  <wsdl:message name="ModifyDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyPlayersSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyPlayers" />
  </wsdl:message>
  <wsdl:message name="ModifyPlayersSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyTrophiesSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyTrophies" />
  </wsdl:message>
  <wsdl:message name="ModifyTrophiesSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyTrophiesResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyValueSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyValue" />
  </wsdl:message>
  <wsdl:message name="ModifyValueSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetElementsSoapIn">
    <wsdl:part name="parameters" element="tns:GetElements" />
  </wsdl:message>
  <wsdl:message name="GetElementsSoapOut">
    <wsdl:part name="parameters" element="tns:GetElementsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyDescription">
      <wsdl:input message="tns:ModifyDescriptionSoapIn" />
      <wsdl:output message="tns:ModifyDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPlayers">
      <wsdl:input message="tns:ModifyPlayersSoapIn" />
      <wsdl:output message="tns:ModifyPlayersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyTrophies">
      <wsdl:input message="tns:ModifyTrophiesSoapIn" />
      <wsdl:output message="tns:ModifyTrophiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyValue">
      <wsdl:input message="tns:ModifyValueSoapIn" />
      <wsdl:output message="tns:ModifyValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetElements">
      <wsdl:input message="tns:GetElementsSoapIn" />
      <wsdl:output message="tns:GetElementsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyDescription">
      <soap:operation soapAction="http://tempuri.org/ModifyDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPlayers">
      <soap:operation soapAction="http://tempuri.org/ModifyPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyTrophies">
      <soap:operation soapAction="http://tempuri.org/ModifyTrophies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyValue">
      <soap:operation soapAction="http://tempuri.org/ModifyValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElements">
      <soap:operation soapAction="http://tempuri.org/GetElements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyDescription">
      <soap12:operation soapAction="http://tempuri.org/ModifyDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPlayers">
      <soap12:operation soapAction="http://tempuri.org/ModifyPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyTrophies">
      <soap12:operation soapAction="http://tempuri.org/ModifyTrophies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyValue">
      <soap12:operation soapAction="http://tempuri.org/ModifyValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElements">
      <soap12:operation soapAction="http://tempuri.org/GetElements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44337/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44337/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>